<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Image Gallery</title>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://use.fontawesome.com/2fafae90de.js"></script>
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="../../app.css">
      <link rel="icon" href="http://www.pvhc.net/img109/bvqmeorgkhfczxatbaeu.png">
  </head>

  <!--<body background="https://images.pexels.com/photos/675977/blue-sky-merge-clouds-675977.jpeg" style="background-position: center">-->
  <body background="https://lh6.googleusercontent.com/BVb2GLmw8L9h-5A4z2tFFyr5hQ7RzoK0d9I2uyEKTQ545llBLZ15BFnmbaKoGIigE3_Vw4hTDg=w740" style="background-position: center">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <!-- </div> -->
            <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Images</a>
          </div>
          <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
          <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>